<footer class="footer footer-dark">
  <div class="container">
    <div class="columns">
      <div class="column">
        <!-- <div class="footer-logo"> -->
        {{- $out_fo  := "footer.svg" -}}
        {{- $img_n   := .Site.Params.footer.logo -}}
        {{- $type    := lower (substr $img_n (sub (len $img_n) 3) (len $img_n)) -}}
        {{- $img     := resources.Get $img_n -}}
        {{- if eq $type "svg" -}}
        {{- $img    = $img | resources.ExecuteAsTemplate $out_fo . }}
        {{- end -}}
        <img src="{{- $img.Permalink | relURL -}}" alt="">
        <!-- </div> -->
      </div>

      {{ if (or (or (or (or (or (isset .Site.Params.footer "linkedin") (isset .Site.Params.footer "email")) (isset .Site.Params.footer "gitlab")) (isset .Site.Params.footer "twitter")) (isset .Site.Params.footer "instagram")) (isset .Site.Params.footer "github")) }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>{{ i18n "contacts" }}</h3>
          </div>
          <ul class="link-list">
            {{ if isset .Site.Params.footer "linkedin" }}
            <li>
              <a href="{{ .Site.Params.footer.linkedin }}" target="_blank">
                <span class="icon"><i class="fa fa-linkedin"></i></span>
                Linkedin
              </a>
            </li>
            {{ end }}
            {{ if isset .Site.Params.footer "github" }}
            <li>
              <a href="https://github.com/{{ .Site.Params.footer.github }}" target="_blank">
                <span class="icon"><i class="fa fa-github"></i></span>
                {{ .Site.Params.footer.github }}
              </a>
            </li>
            {{ end }}
            {{ if isset .Site.Params.footer "email" }}
            <li>
              <a href="mailto:{{ .Site.Params.footer.email }}" target="_blank">
                <span class="icon"><i class="fa fa-envelope"></i></span>
                {{ .Site.Params.footer.email }}
              </a>
            </li>
            {{ end }}
            {{ if isset .Site.Params.footer "gitlab" }}
            <li>
              <a href="https://gitlab.com/{{ .Site.Params.footer.gitlab }}" target="_blank">
                <span class="icon"><i class="fa fa-github"></i></span>
                {{ .Site.Params.footer.gitlab }}
              </a>
            </li>
            {{ end }}
            {{ if isset .Site.Params.footer "twitter" }}
            <li>
              <a href="https://twitter.com/{{ .Site.Params.footer.twitter }}" target="_blank">
                <span class="icon"><i class="fa fa-twitter"></i></span>
                {{ .Site.Params.footer.twitter }}
              </a>
            </li>
            {{ end }}
            {{ if isset .Site.Params.footer "instagram" }}
            <li>
              <a href="https://instagram.com/{{ .Site.Params.footer.instagram }}" target="_blank">
                <span class="icon"><i class="fa fa-instagram"></i></span>
                {{ .Site.Params.footer.instagram }}
              </a>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}

      {{ if isset .Site.Params.footer "copyright" }}
      <div class="column">
        <div class="footer-column">
          <div class="footer-header">
            <h3>{{ i18n "copyright" }}</h3>
          </div>
          <ul class="link-list">
            <li>
              <span class="icon"><i class="fa fa-copyright"></i></span>
              {{ .Site.Params.footer.copyright }}
            </li>
            <li>
              <a href="{{ .Site.Params.footer.avatar_url }}">
                <span class='icon'><i class="fa fa-copyright"></i></span>
                {{ .Site.Params.footer.avatar_copyright }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      {{ end }}

    </div>
  </div>
</footer>